<div class="container my-5">
  <h1 class="mb-3">Employees</h1>

  
    <!-- Employee list -->
    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
           <tr class="table-active">
          <th scope="col">Employee ID</th> 
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Designation</th>
          <th scope="col">Phone No</th>
          <th scope="col center">Update</th>
        </tr>
     <!-- Row -->
     <tr>
      <th scope="row">1</th>
      <td colspan="2" class="table-active">Employee</td>
      <td>New</td>
      <td>New</td>
      <td>New</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2" class="table-active">Employee</td>
      <td>New</td>
      <td>New</td>
      <td>New</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2" class="table-active">Employee</td>
      <td>New</td>
      <td>New</td>
      <td>New</td>
    </tr>
      
      </thead>
      <tbody>
        <tr *ngFor="let employee of Employee; let i = index">
          <th scope="row">{{employee._id}}</th>
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.phoneNumber}}</td>
          <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/employees', '/edit-employee/', 'employee._id']">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>
            <span class="delete" (click)="removeEmployee(employee, i)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </td>
        </tr>
      </tbody>
<br>
        <!-- No data message -->
    <p *ngIf="Employee.length <= 0" class="no-data text-center">There is no employee added yet!</p>

    </table>
  </div>